//TYPOGRAPHY
@import (css)
  url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Poppins:200,300,500");
@body-font: Lato, Arial, sans-serif;
@display-font: Poppins, Helvetica, sans-serif;
.body-font-light {
  font-weight: 300;
}
.body-font-regular {
  font-weight: 400;
}
.body-font-bold {
  font-weight: 700;
}
.display-font-light {
  font-family: @display-font;
  font-weight: 300;
}
.display-font-bold {
  font-family: @display-font;
  font-weight: 500;
}

//COLORS
@text-color-light: #50503c;


html {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 31, 61, 1);
  color: rgb(12, 27, 42);
  overflow-x: hidden;
}

:root {
  font-family: @body-font;
  .body-font-regular();
  font-size: 17px;
  font-variant-numeric: diagonal-fractions oldstyle-nums;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  margin: 0;
}

h1,
.h1 {
  .display-font-bold();
  font-size: 50px;
  color: #346;
}
h2,
.h2 {
  .display-font-bold();
  font-size: 28px;
  color: #346;
}
h3,
.h3 {
  .display-font-light();
  font-size: 18px;
  color: @text-color-light;
}

p,
ul,
li {
  margin: 0;

  &:not(:first-child) {
    margin-top: 18px;
  }
}

a {
  color: #006cd5;
  text-decoration: none;
}

.nav-title {
  .h2();
  line-height: 1.1;
}
.nav-tagline {
  .h3();

  /deep/ b,
  /deep/ strong {
    font-weight: 600;
  }
}

.buttons {
  button,
  a.button {
    margin: 0 10px;
    white-space: nowrap;

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

button,
a.button {
  padding: 10px 10px 10px;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.07);
  color: #004a8f;
  font-weight: 700;

  &:focus {
    outline: 1px dotted black;
    text-decoration: underline rgba(255, 255, 255, 0.6);
  }

  &.primary {
    color: white;
    background-color: #004a8f;
  }
}
